<div class="mx-auto md:w-2/3 w-full flex">
  <div class="mx-auto">

<h1 class="font-bold text-4xl"><%= @product.name %></h1>

<%= link_to "Back", products_path,
class:"rounded-lg py-3 px-5 1bg-blue-600
1text-white 1block font-medium" %>
<%= link_to "Edit", edit_product_path(@product),
class:"rounded-lg py-3 px-5 1bg-blue-600
1text-white 1block font-medium" %>
<%= button_to "Delete", @product,
method: :delete, data: { turbo_confirm: "Are you sure?" },
class:"rounded-lg py-3 px-5 1bg-blue-600
1text-white 1block font-medium" %>
  </div>
</div>
